
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Novel-19</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css" crossorigin="anonymous"/>
   
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {{!-- Custom stylesheet --}}
    <link rel="stylesheet" href="/assets/css/style.css"/>

    {{!-- leaflet css --}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    {{!-- Index Js file --}}
    <sript src="/assets/js/index.js"></sript>


</head>
<body>
    <nav class="navbar is-black" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/virus.png" width="30" height="30" alt="Novel-19 logo">
                <h1 class="is-size-4">Novel-19</h1>
            </a>
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-danger" type="button" id="infectedModalButton">I've tested positive.</button>
                    <button class="button is-primary" type="button" id="signUpModalButton">Sign Up</button>
                    <button class="button is-primary is-outlined" type="button" id="signInModalButton">Sign In</button>
                </div>
            </div>
        </div>
    </nav>
    {{{ body }}}
</body>
</html>