{{> nav/nav}}

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Covid Activity Near You</h1>
      <div id="mapid" style="z-index:1"></div>
    </div>
  </div>
</section>

<section id="additional-info">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://picsum.photos/200">
            </figure>
          </div>
          <div class="card-content">
            <h5 class="title is-4">Covid-19 Stats</h5>
            <p class="card-text">Sample text leads to d3 page</p>
            <a href="/stats">
            <button class="button is-primary">Click here</button>
            </a>
          </div>
        </div>
      </div>

      {{#if user}}
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h5 class="title is-4">Add info</h5>
            <p class="card-text">Our collective safety depends on your input! Contribute here:</p>
          </div>
          <footer class="card-footer">
            <a type="button" class="card-footer-item is-success is-full-width" id="addNoteModalButton">Add note</a>
          </footer>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

</section>

{{!-- Modals --}}
{{> modals/notes}}
{{> modals/login}}
{{> modals/signup}}
