{{> nav/nav}}

<section class="has-margin-top-20">
  <div class="container">
        <div class="panel" id="profile-info-panel">
          <h2 class="panel-heading has-text-centered is-size-3">
            {{username}}
            {{#unless status}}
              <span><i class="fas fa-plus" id="indicator"></i></span>
            {{/unless}}
          </h2>
          <div class="panel-block is-block">
            <p class="has-text-centered is-size-4">Born in {{yearBorn}}</p>
          </div>
          <div class="panel-block is-block">
            <p class="has-text-centered is-size-4">Notes</p>
          </div>
          <div class="panel-block is-block">
            <div class="list is-hoverable">
              <p class="has-text-centered">List content goes here.</p>
            </div>
          </div>
          <div class="panel-block">
            {{#unless status}}
            <button class="button is-success is-outlined is-fullwidth statusButton">
              I'm All Clear
            </button>
            {{else}}
            <button class="button is-danger is-outlined is-fullwidth statusButton">
              I've Tested Positive
            </button>
            {{/unless}}
          </div>
      </div>
    </div>
</section>
