{{> nav/nav}}

<section class="has-margin-top-20">
  <div class="container">
    <div class="panel profile-info-panel">
      <h2 class="panel-heading has-text-centered is-size-3">
        {{user.username}}
        {{#if user.status}}
          <span><i class="fas fa-plus" id="indicator"></i></span>
        {{/if}}
      </h2>
      <div class="panel-block is-block">
        <div class="columns is-centered is-mobile">
          <div class="column is-one-fifth">
            <p class="is-size-6 has-text-left">Born in:</p>
          </div>
          <div class="column is-one-fifth">
            <p class="is-size-6 has-text-right">{{user.yearBorn}}</p>
          </div>
        </div>
      </div>
      <div class="panel-block">
        {{#if user.status}}
        <button class="button is-primary is-light is-outlined is-fullwidth statusButton">
          I'm All Clear
        </button>
        {{else}}
        <button class="button is-danger is-outlined is-fullwidth statusButton">
          I've Tested Positive
        </button>
        {{/if}}
      </div>
    </div>
    
    <div class="panel profile-info-panel">
      <h2 class="panel-heading has-text-centered is-size-5 is-uppercase" id="user-notes-list">
        Notes
      </h2>
      <div class="panel-block">
        <button type="button" class="button is-primary is-light is-outlined is-fullwidth addNoteModalButton">Add note</button>
      </div>
    </div>
  </div>
</section>

{{> modals/status}}
{{> modals/notes}}
