<nav class="navbar is-black" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/virus.png" width="30" height="30" alt="Novel-19 logo">
      <h1 class="is-size-4"> Novel-19</h1>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <button class="button is-primary is-outlined homeButton" type="button">Home</button>
        <button class="button is-primary logoutButton" type="button">Logout</button>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="card-content">
          <h2 class="title is-4" id="member-name"></h2>
          <p class="card-text" id="member-year-born"></p>
          <p class="card-text" id="member-status"></p>
          <a href="#" class="button is-primary" id="addNoteModalButton">Add Note</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/assets/js/profile.js"></script>