{{> nav/nav}}

<section class="has-margin-top-20">
  <div class="container">
    <nav class="panel" id="profile-info-panel">
      <h2 class="panel-heading has-text-centered is-size-3">
        {{user.username}}
        {{#if user.status}}
          <span><i class="fas fa-plus" id="indicator"></i></span>
        {{/if}}
      </h2>
      <div class="panel-block is-block">
        <p class="has-text-centered is-size-4">Born in {{user.yearBorn}}</p>
      </div>
      <div class="panel-block is-block" id="user-notes-list">
        <p class="has-text-centered is-size-4">Notes</p>
      </div>
      <div class="panel-block">
        {{#if user.status}}
        <button class="button is-success is-outlined is-fullwidth statusButton">
          I'm All Clear
        </button>
        {{else}}
        <button class="button is-danger is-outlined is-fullwidth statusButton">
          I've Tested Positive
        </button>
        {{/if}}
      </div>
    </nav>
  </div>
</section>
