{{> nav/nav}}
  <div class="columns is-centered">
    <div class="column">
      <svg width="1000" height="500" id="mostCases"></svg>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column">
      <svg width="1000" height="500" id="nearMe"></svg>
    </div>
  </div>

{{> modals/login}}
{{> modals/signup}}
