<div class="modal" id="myNotesModal" style="z-index:2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">My Notes</p>
      <button class="delete deleteButton" aria-label="close"></button>
    </header>
    <section class="modal-card-body" id="myNotes">

    </section>
  </div>
</div>