{{!-- Modal to add a note. --}}
<div class="modal" id="addNoteModal" style="z-index:2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Note</p>
      <button class="delete deleteButton" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form id="note">
        <div class="field">
          <div class="control">
            <input type="search" id="address-input" class="form-control" placeholder="Add a location." />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <textarea class="textarea" id="note-input" type="text" name="note" placeholder="What do you want people to know?"></textarea>
          </div>
          <p class="help is-danger is-invisible" id="note-help-text">Notes must be 1-120 characters in length</p>
        </div>
        <div class="control buttons is-centered">
          <button type="submit" class="button is-primary" id="add-note-button">Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>