{{!-- Modal to display thank you. --}}
<div class="modal" id="infectedModal" style="z-index:2">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Thank you!</p>
    </header>
    <section class="modal-card-body">
      <p class="has-text-centered">Your input is important for keeping everyone safe. Please let us know how you are doing!</p>
    </section>
  </div>
</div>