#mapid {
  height: 60vh;
}

#logo-img {
  padding-right: 6px;
  filter: grayscale(75%);
}

#indicator {
  font-size: .5em;
  color: #f14668;
  position: relative;
  bottom: 1.1em;
  left: .2em;
}

#user-notes-list {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.profile-info-panel {
  margin: 20px auto;
  width: 90%;
  border: 1px solid #00d1b2;
}

.bar:hover {
  fill: navy
}

.modal-card-head {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #00d1b2;
}

.home-card-p {
  height: 50px;
}
