<nav class="navbar is-dark" role="navigation">
  <div class="navbar-brand">
      <a class="navbar-item" href="/">
          <img src="/assets/images/virus.png" width="30" height="30" alt="Novel-19 logo">
          <h1 class="is-size-4">Novel-19</h1>
      </a>
      <div class="navbar-burger burger" data-target="navbarItems" id="navbarToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
  <div id="navbarItems" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped is-block">
          <div class="buttons is-centered">
          {{!-- User is signed in. --}}
          {{#if user}}
            {{!-- On home page. --}}
            {{#if user.home}}
            <p class="control">
              <button class="button is-danger" type="button" id="infectedModalButton">I've tested positive</button>
            </p>
              <button class="button is-primary logoutButton" type="button">Logout</button>
            <p class="control">
            </p>
            <p class="control">
              <button class="button is-primary is-outlined" type="button" id="myProfileButton" data-username="{{username}}">My Profile</button>
            </p>
            {{/if}}
            {{!-- On profile page. --}}
            {{#if user.profile}}
            <p class="control">
              <button class="button is-primary homeButton" type="button">Home</button>
            </p>
            <p class="control">
              <button class="button is-primary is-outlined logoutButton" type="button">Logout</button>
            </p>
            {{/if}}
            {{!-- On stats page. --}}
            {{#if stats}}
            <p class="control">
              <button class="button is-primary homeButton" type="button">Home</button>
            </p>
            <p class="control">
              <button class="button is-primary is-outlined logoutButton" type="button">Logout</button>
            </p>
            {{/if}}
          {{!-- User is NOT signed in. --}}
          {{else}}
            {{!-- On home page. --}}
            {{#if home}}
            <p class="control">
              <button class="button is-primary" type="button"id="signUpModalButton">Sign Up</button>
            </p>
            <p class="control">
              <button class="button is-primary is-outlined" type="button" id="signInModalButton">Sign In</button>
            </p>
            {{/if}}
            {{!-- On stats page. --}}
            {{#if stats}}
            <p class="control">
              <button class="button is-primary homeButton" type="button">Home</button>
            </p>
            <p class="control">
              <button class="button is-primary" type="button"id="signUpModalButton">Sign Up</button>
            </p>
            <p class="control">
              <button class="button is-primary is-outlined" type="button" id="signInModalButton">Sign In</button>
            </p>
            {{/if}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
